= form_for [@project, @ticket], html: { multipart: true } do |f|
  = display_errors(@ticket)
  = f.label :title 
  = f.text_field :title

  = f.label :description
  = f.text_area :description

  = f.label :asset, 'File'
  %br
  = f.file_field :asset

  = f.submit "#{ @ticket.new_record? ? "Create Ticket" : "Update Ticket"}"
