= form_for [:admin, @user] do |f|
  = display_errors(@user)

  = f.label :email
  = f.text_field :email

  = f.label :password
  = f.password_field :password
  
  = f.check_box :admin
  = f.label :admin, "Is an admin?"

  = f.submit "#{@user.new_record? ? "Create User" : "Update User"}"
